.big-card {
    

    display: flex;
    flex-direction: column;

    height: 100%;
}

.big-card > img {
    width: 100%;
    height: 550px;
    min-height: 550px;

    border-radius: 10px;
}

.big-card > p {
    margin-top: 16px;
    margin-bottom: 8px;
}

.big-card > a {
    text-decoration: none;
    color: black;
}

.big-card > a > h2 {
    margin-top: 8px;
}