.small-card {
    margin-left: 30px;
}

.small-card > a > img {
    width: 100%;
    border-radius: 10px;
    height: 150px;
    min-height: 150px;
}

.small-card > a > h3 {
    margin: 5px;
    font-size: medium;
}