<div class="content">
    <app-menu-title></app-menu-title>
    <app-menu-info
        menuSubject="Most recommended games for life"
        data="11/01/2024"
    >
    </app-menu-info>
    
    <div class="news">
        
        <div class="news__main">
            <app-big-card
                id="1"
                photo="https://m.media-amazon.com/images/M/MV5BMzNkMmE5MjktMzRhYS00MzZhLWEzYzMtMWFkYmE4MDk0NDZkXkEyXkFqcGdeQXVyMTk2OTAzNTI@._V1_FMjpg_UX1000_.jpg"
                photoAlt="alternative text"
                subject="Games // Indie"
                title="Hades: Descend into the Underworld"
            >
            </app-big-card>
        </div>
    
        <div class="news__others">
            <app-small-card
                id="2"
                photo="https://cdn.akamai.steamstatic.com/steam/apps/367520/capsule_616x353.jpg?t=1695270428"
                photoAlt="alternative text"
                title="Hollow Knight: Explore the Mysteries of Hallownest"            
            >
            </app-small-card>
            <app-small-card
                id="3"
                photo="https://cdn.akamai.steamstatic.com/steam/apps/606150/header.jpg?t=1701879545"
                photoAlt="alternative text"
                title="Moonlighter: Balance Adventure and Commerce"            
            >
            </app-small-card>
            <app-small-card
                id="4"
                photo="https://assets.nintendo.com/image/upload/c_fill,w_1200/q_auto:best/f_auto/dpr_2.0/ncom/software/switch/70010000047973/94f166d39a19e52dc12dfe1f52266c03a0762ff49a83a14e529076f413b4d010"
                photoAlt="alternative text"
                title="Cult of the lamb: Lead a Cult of Adorable Creatures"            
            >
            </app-small-card>
            <app-small-card
                id="5"
                photo="https://store-images.s-microsoft.com/image/apps.34105.13702044937897358.8701ab78-da18-4c36-8c1e-3d4e6dfd60c9.86f47a6b-716e-40fa-aa62-61bf6f6e102c?q=90&w=480&h=270"
                photoAlt="alternative text"
                title="Tunic: Embark on an Isometric Adventure as a Fox"            
            >
            </app-small-card>
            <app-small-card
                id="6"
                photo="https://cdn1.epicgames.com/spt-assets/764b2d57552c436590f50318bd7587f9/bloons-td-6-offer-1jl6n.jpg"
                photoAlt="alternative text"
                title="Bloons TD6: Pop Colorful Balloons in Tower Defense"            
            >
            </app-small-card>
            <app-small-card
                id="7"
                photo="https://cdn.cloudflare.steamstatic.com/steam/apps/208650/capsule_616x353.jpg?t=1702934528"
                photoAlt="alternative text"
                title="Batman: Arkham Kinght: Become the Dark Knight in Gotham's Final Chapter"            
            >
            </app-small-card>
        </div>
    </div>
</div>