.content {
    width: 80%;
    margin: 0 auto;
}

.news {
    display: flex;
    flex-direction: row;

    margin-top: 15px;

    
}

.news__main {
    width: 50%;
    height: 100%;
    margin: 16px 0;
}

.news__others {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 16px 0;
}

.small-card {

    list-style: none;
}