<div class="content">
    <app-menu-title></app-menu-title>
    <app-menu-info></app-menu-info>
    
    <div class="news">
        
        <div class="news__main">
            <app-big-card></app-big-card>
        </div>
    
        <div class="news__others">
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
            <app-small-card></app-small-card>
        </div>
        
        <!-- <ul class="small-cards">
            <li class="small-card"><app-small-card></app-small-card></li>
            <li class="small-card"><app-small-card></app-small-card></li>
            <li class="small-card"><app-small-card></app-small-card></li>
            <li class="small-card"><app-small-card></app-small-card></li>
            <li class="small-card"><app-small-card></app-small-card></li>
            <li class="small-card"><app-small-card></app-small-card></li>
        </ul> -->
    </div>
</div>